<div class="crop">
  <div class="overflow" [style.width.px]="plotis">
    <div class="star-box">
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
      <span><i class="fa fa-star"></i></span>
    </div>
  </div>
  <div class="star-box-white">
    <span><i class="fa fa-star"></i></span>
    <span><i class="fa fa-star"></i></span>
    <span><i class="fa fa-star"></i></span>
    <span><i class="fa fa-star"></i></span>
    <span><i class="fa fa-star"></i></span>
  </div>
</div>

