<div class="crop">
  <div class="overflow" [style.width.px]="plotis">
    <div class="star-box" (click)="handleRatingClick(plotis/15)">
      <span><i (click)="handleStarClick(1, idFromParent)" class="fa fa-star"></i></span>
      <span><i (click)="handleStarClick(2, idFromParent)" class="fa fa-star"></i></span>
      <span><i (click)="handleStarClick(3, idFromParent)" class="fa fa-star"></i></span>
      <span><i (click)="handleStarClick(4, idFromParent)" class="fa fa-star"></i></span>
      <span><i (click)="handleStarClick(5, idFromParent)" class="fa fa-star"></i></span>
    </div>
  </div>
  <div class="star-box-white" (click)="handleRatingClick(plotis/15)">
    <span><i (click)="handleStarClick(1, idFromParent)" class="fa fa-star"></i></span>
    <span><i (click)="handleStarClick(2, idFromParent)" class="fa fa-star"></i></span>
    <span><i (click)="handleStarClick(3, idFromParent)" class="fa fa-star"></i></span>
    <span><i (click)="handleStarClick(4, idFromParent)" class="fa fa-star"></i></span>
    <span><i (click)="handleStarClick(5, idFromParent)" class="fa fa-star"></i></span>
  </div>
</div>

