<div class="row">
  <div class="col-lg-6">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A recusandae animi perspiciatis earum ut autem quas libero id corporis velit aliquid quo consequatur inventore nostrum exercitationem expedita praesentium, eaque incidunt.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quidem aliquid, dolor quo voluptas iusto ea alias eligendi accusamus vitae deleniti, sint beatae nemo corrupti molestias fugiat esse. Dolor quaerat quasi laboriosam. Qui atque veritatis, exercitationem ab dicta adipisci amet excepturi reprehenderit libero quidem possimus quisquam nesciunt? Rerum, consequatur obcaecati.</p>
  </div>
  <img src="../../../assets/angular.png" alt="angular" class="col-lg-6 about-img">
</div>
