<table class='table'>
<!-- <table class="table"> -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Importance</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let person of filterData"> -->
    <tr *ngIf="person.id !== 0; else noPerson">
      <td><input type="text" value={{person.id}} ></td>
      <td><input type="text" value={{person.surname}}></td>
      <td><input type="text" value={{person.phone}}></td>
      <td><input type="text" value={{person.email}}></td>
      <td><input type="text" value={{person.importance}}></td>
    </tr>
  </tbody>
</table>
<ng-template #noPerson>
  <!-- <p class="alert alert-warning">Sorry, no data found!</p> -->
  <tr>
    <td><input type="text" value=''></td>
    <td><input type="text" value=''></td>
    <td><input type="text" value=''></td>
    <td><input type="text" value=''></td>
    <td><input type="text" value=''></td>
    <!-- <td>
    </td> -->
  </tr>
</ng-template>
<div class="delete-edit-btns">
  <button class="btn btn-danger" *ngIf="person.id !== 0">Delete</button>
  <button class="btn btn-success">Save</button>
</div>


<!-- <button class="btn btn-success">Save</button> -->
